ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
        Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;

    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;

    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}

textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;

    /* Proporcionar espacio para escribir texto */
    height: 5em;
}

button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
        entre las etiquetas y sus campos de texto */
    margin-left: 0.5em;
}

/* Animación de entrada */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación de salida */
.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilos para el cuadro emergente */
.modal {
    display: none; /* El cuadro emergente está oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

.modal-contenido {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo */
    border-radius: 20px; /* Bordes más curvos */
    position: absolute; /* Cambiamos la posición a absoluta */
    top: 50%; /* Lo posicionamos en la mitad superior del viewport */
    left: 50%; /* Lo posicionamos en el centro horizontal */
    transform: translate(-50%, -50%); /* Centramos vertical y horizontalmente */
    animation-name: animacion-aparicion;
    animation-duration: 0.5s; /* Duración de la animación */
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bloq-sup,
.bloq-inf {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta la opacidad según desees */
    z-index: 9999; /* Asegúrate de que el z-index sea mayor que cualquier otro elemento */
    text-align: center; /* Ajusta según necesites */
    padding: 10px; /* Ajusta según necesites */
}

.bloq-sup {
    top: 0;
}

.bloq-inf {
    bottom: 0;
}

.button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

.div_CCSA{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    /*background-color: #28C985;*/
    width: 100%;
    justify-content: left;
    text-align: start;
    font-family: 'Poppins', Arial, sans-serif; /* Poppins como primera opción, luego Arial, y finalmente una fuente genérica */
}

.div_boton_return{
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
    /* background-color: #28C985; */
    width: 5%;
    height: 10%;
    justify-content: center;
    background-color: transparent;
}

.form-1 {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border-radius: 1em;

}

.btn-1{
    font-size: 1rem;
    /* text-transform: lowercase; */
    font-weight: 500;
    color: #000;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);;
    padding: 7px 20px;
    background-color: #28C985;
    border-radius: 2rem;
    /* border: #ccc; */
    border:0.7px solid #000000c8;
}

.btn-1 {
    background-color: white;
    border: 2px solid #FFF300;
    transition: background-color 1s;
}

.btn-1:hover {
    background-color: #FFF300;
    color: white;
    transition: background-color 1s;
}

.buttondiv{
    display: flex;
    margin-left: 14%;
}

.button-container {
    text-align: center;
}


/* Estilos para el contenedor principal */
.bloq-mid {
    display: block;
    justify-content: center;
    position: fixed;
    top: 48%;
    left: 50%;
    width: 100%; /* Ancho del contenedor principal */
    height: 64.8%;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    /* background-color: #999; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor intermedio */
.intermed {
    display: block;
    position: relative;
    margin: 25px; /* Margen uniforme alrededor del contenedor intermedio */
    width: 20%; /* Ancho del contenedor intermedio en píxeles */
    left: calc(50% - 150px); /* Centra el contenedor horizontalmente */
    top: 20%;
    transform: translate(0%, 0%);
    /* background-color: aqua; */
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

/* Estilos para el contenedor de input */
.intermed-bloq {
    position: relative;
    width: 400px; /* Ancho del contenedor de input en píxeles */
    /* background-color: #04AA6D; */
    left: calc(50% - 200px); /* Centra el contenedor horizontalmente */
    top: 20%;
    border: 2px solid #FFF300;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para el input en el estado normal */
.intermed-bloq input {
    width: 60%; /* Ancho completo */
    max-width: 80%; /* Ancho máximo en función del contenedor */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bloq-sup{
    position: fixed;
    left: 0;
    width: 100%;
    height: 13%;
    top: 0;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.bloq-inf {
    position: fixed;
    bottom: 0;
    left: 0px; /* Asegúrate de agregar las unidades de medida (px en este caso) */
    width: 100%;
    height: 17%;
    background-color: #f2f2f2; /* Color de fondo opcional */
    text-align: center;
    padding: 10px; /* Ajusta el padding según sea necesario, reduce el espacio debajo del texto */
    font-family: 'Poppins', Arial, sans-serif; /* Poppins como primera opción, luego Arial, y finalmente una fuente genérica */

}

.bloq-sup_secd {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-top: -25px;
    margin-left: 5px;

}

.boton-2 {
    margin-right: 10px; /* Ajusta el margen según sea necesario */
    background-size: cover; /* Ajusta el tamaño de la imagen según sea necesario */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    border: none; /* Quita el borde del botón */
    width: 55px; /* Ajusta el ancho del botón según sea necesario */
    height: 55px; /* Ajusta la altura del botón según sea necesario */
}

.titulo {
    margin-right: 20px; /* Ajusta el margen según sea necesario */
    line-height: 62px;
}

.descripcion {
    margin-left: 12px;
    line-height: 0px;  /* Ajusta el margen según sea necesario */
    font-family: 'Poppins', Arial, sans-serif; /* Poppins como primera opción, luego Arial, y finalmente una fuente genérica */
}

@media (max-width: 600px) {
    .descripcion {
        font-size: 14px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}

.error-message {
    text-align: center;
    margin-top: 40px; /* Ajusta este valor según sea necesario */
}

.form-control {
    width: 72%; /* O el ancho deseado */
    padding: 8px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 10px; /* Espacio entre los campos del formulario */
    border: 1px solid #ccc; /* Borde de los campos del formulario */
    border-radius: 4px; /* Esquinas redondeadas */
    box-sizing: border-box; /* Hace que el padding y el borde se incluyan en el ancho */
}